#map { 
    width: 100%;
    height: 600px;
    margin-top: 50px;
    margin-bottom: 40px;
}

warnMax {
    background-color: #330000;
}; 

warn {
    background-color: #00FF00;
};

warn0x {
    background-color: #FFCCCC;
};

warn1x {
    background-color: #FFFFFF;
};

warn2x {
    background-color: #FF6666;
};

warn3x {
    background-color: #FF3333;
};

warn4x {
    background-color: #FF0000;
};

warn5x {
    background-color: #CC0000;
};

warn6x {
    background-color: #990000;
};

warn7x {
    background-color: #660000;
};

warn8x {
    background-color: #330000;
};